@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #202020;
  font-size: 1.1em;
}

#form {
  padding: 1em;
  border-radius: 0.3em;
  background-color: #fff;
  box-shadow: 0 0 9px #dbdada;
}

#form > input {
  display: block;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0.3em;
  padding: 0.5em;
}

input {
  background-color: #f4f4f4;
}

input[type="password"] {
  margin: 0.5em 0;
}

button,
#spinner-box {
  display: block;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0.3em;
  padding: 0.5em;
  background-color: #4a7bff;
  width: 100%;
}

#button-box {
  position: relative;
}

button {
  margin-top: 1em;
  color: #fff;
  cursor: pointer;
}

#spinner-box {
  height: 38.6px;
  position: absolute;
  top: 0;
  display: none;
}

#spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #a3b5e6;
  border-top: 2px solid #fff;
  border-radius: 50%;
  margin: auto;
  animation: spin 1s linear infinite;
}

button:focus ~ #spinner-box {
  display: block;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
