@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #202020;
  font-size: 1.1em;
}

.container {
  background-color: #202020;
  display: flex;
  /* width: 750px; */
}

.card {
  width: 250px;
  background-color: #f4f4f4;
  border: 1px solid #202020;
  border-radius: 15px;
  padding: 1.5em;
  cursor: pointer;
  transition: width 1s;
}

.card > p {
  margin-bottom: 6em;
  width: 200px;
}

.card:hover {
  width: 300px;
}
