@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #202020;
  font-size: 1.1em;
}

.container {
  background-color: #202020;
  display: flex;
  width: 750px;
}

.card {
  width: 250px;
  background-color: #f4f4f4;
  border: 1px solid #202020;
  border-radius: 15px;
  padding: 1.5em;
  cursor: pointer;
  transition: width 1s;
}

.card > p {
  margin-bottom: 6em;
  width: 150px;
}

.card:hover {
  width: 350px;
}

.btn-container {
  background-color: #202020;
  width: 38.6px;
  height: 38.6px;
  padding: 0.5em 1em;
  color: #f4f4f4;
  border-radius: 25px;
  position: relative;
  transition: width 1s;
}

.btn-container > span {
  position: absolute;
  width: 95px;
}

button {
  position: absolute;
  height: 38.6px;
  width: 38.6px;
  border-radius: 50%;
  border: none;
  background-color: #202020;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

button::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f4f4f4;
}

.card:hover > .btn-container {
  width: 150px;
}

.card:hover button {
  transform: translateX(120px);
}
