@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #202020;
  padding: 1em;
}

h1 {
  font-size: 1.1em;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  margin-block: 2em;
}

h2 {
  font-size: 2.5em;
}

p {
  margin-block: 0.5em 2em;
}

button {
  background-color: #202020;
  border: none;
  color: #fff;
  padding: 1.2em;
}

@media (min-width: 768px) {
  body {
    padding: 2em;
  }

  main {
    flex-direction: row;
    margin-top: 2em;
  }

  svg {
    flex-basis: 50%;
  }

  .not-found-info {
    flex-basis: 50%;
  }
}
