@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #0a0b0d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.outer-orbit {
  width: 300px;
  height: 300px;
}

.outer-spinner {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: spin 7s linear infinite;
}

.outer-spinner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #44f0e7;
  border-radius: 50%;
  left: -10px;
  top: 140px;
}

.middle-orbit {
  width: 200px;
  height: 200px;
}

.middle-spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  animation: spin 10s linear infinite;
}

.middle-spinner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #4fff1a;
  border-radius: 50%;
  left: -10px;
  top: 90px;
}

.inner-orbit {
  width: 100px;
  height: 100px;
}

.inner-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  animation: spin 4s linear infinite;
}

.inner-spinner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fd1e1e;
  border-radius: 50%;
  left: -10px;
  top: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
