@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #202020;
  font-size: 14px;
}

#delivery-container {
  background-color: #fff;
  border-radius: 1.1em;
  padding: 2em;
  width: 30em;
  box-shadow: 0 0 25px #d8d7d7;
}

#details-title {
  font-size: 1.4em;
  font-weight: 600;
}

#measurements {
  border: 1px solid #8487a8;
  border-radius: 0.7em;
  background-color: #f4f4f4;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.measurement-title {
  color: #767ed8;
  font-weight: 600;
  margin-bottom: 0.5em;
}

#timeline-container {
  margin-top: 2em;
  border-left: 2px solid #8487a8;
  padding-left: 1.5em;
}

.delivery-point {
  margin-bottom: 1.2em;
  position: relative;
}

.marker {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #f4f4f4;
  border: 1px solid #767ed8;
  border-radius: 50%;
  left: -31px;
}

.arrived-marker {
  background-color: #767ed8;
}

.delivery-point > p {
  font-weight: 600;
  color: #414040;
  margin-bottom: 0.5em;
}

.datetime {
  font-size: 12px;
  color: #767ed8;
}

.days-to {
  position: absolute;
  top: 36.6px;
  padding: 0.7em;
  background-color: #767ed8;
  color: #fff;
  border-radius: 0.4em;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.marker:hover ~ .days-to {
  opacity: 1;
  transform: translateY(-36.6px);
}
