@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #202020;
  font-size: 0.875em;
}

#delivery-container {
  background-color: #fff;
  border-radius: 1.1em;
  padding: 2em;
  width: 25em;
}

#details-title {
  font-size: 1.4em;
  font-weight: 600;
}

#measurements {
  border: 1px solid #8487a8;
  border-radius: 0.7em;
  background-color: #f4f4f4;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.measurement-title {
  color: #767ed8;
  font-weight: 600;
  margin-bottom: 0.5em;
}
