@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: inherit;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  padding: 30px;
}

#shoes-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px 20px;
}

.shoe-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shoe-image {
  width: 100%;
  margin-bottom: 0.5em;
}

.shoe-name {
  font-weight: 600;
}

.shoe-materials {
  color: #bdbdbd;
  font-weight: 600;
  font-size: 0.9em;
}

.shoe-price {
  margin-top: 0.5em;
  font-size: 1.1em;
}
