@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

#products-list {
  display: flex;
}

.product {
  height: 300px;
  width: 300px;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
}

.product-name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.1em;
  margin: 0 0 0.5em 0.5em;
  padding: 0.5em;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.product-price {
  position: absolute;
  top: 0;
  right: -79px;
  background-color: #3eff95;
  font-size: 1.1em;
  margin: 0.5em 0.5em 0 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.product:hover > .product-price {
  transform: translateX(-79px);
}
