@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #fff;
}

#products-list {
  display: flex;
}

.product {
  height: 300px;
  width: 300px;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}
