@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #0a0b0d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #fff;
}

#container {
  height: 430px;
  width: 430px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#container::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 430px;
  background-color: #0a0b0d;
  z-index: 1;
}

#container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 430px;
  background-color: #0a0b0d;
  z-index: 1;
}

.cards {
  position: absolute;
  top: -50px;
}

.card {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
}

.second-lane {
  left: 110px;
}

.third-lane {
  left: 220px;
}

.fourth-lane {
  left: 330px;
}

.down-lane > .card-one {
  animation: slide 20s linear infinite;
}

.down-lane > .card-two {
  animation: slide 20s linear -5s infinite;
}

.down-lane > .card-three {
  animation: slide 20s linear -10s infinite;
}

.down-lane > .card-four {
  animation: slide 20s linear -15s infinite;
}

.up-lane > .card-one {
  animation: slide 20s linear infinite reverse;
}

.up-lane > .card-two {
  animation: slide 20s linear -5s infinite reverse;
}

.up-lane > .card-three {
  animation: slide 20s linear -10s infinite reverse;
}

.up-lane > .card-four {
  animation: slide 20s linear -15s infinite reverse;
}

@keyframes slide {
  0% {
    top: 0px;
  }
  100% {
    top: 430px;
  }
}
