@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

#sidenav {
  background-color: #f44b21;
  color: #fff;
  padding: 3em 0;
  height: 100%;
}

#sidenav > ul > li {
  list-style-type: none;
  padding: 0.5em 2em;
  cursor: pointer;
}

#sidenav > ul > li:hover {
  background-color: #e15601;
}

#timesheet-container {
  padding: 2em;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  height: 5em;
}

#search {
  display: flex;
  align-items: center;
}

#search > input {
  border: none;
  background-color: transparent;
  padding: 0.2em;
  margin-left: 0.2em;
}

#profile-info {
  display: flex;
  align-items: center;
}

#bell {
  margin-right: 1em;
}

#profile-options {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#profile-picture {
  border-radius: 50%;
  height: 3em;
  margin-right: 0.5em;
}

#triangle {
  margin-left: 0.5em;
  transform: rotate(180deg);
  font-size: 0.5em;
}
