@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #e2e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.timer {
  background-color: #fff;
  border-radius: 7px;
  padding: 2em 0.5em;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5em;
}

.top > span {
  font-weight: 600;
}

.top > svg {
  cursor: pointer;
}

.timer-values {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
}

.time-since {
  text-align: center;
}

.since-point {
  display: block;
  text-align: center;
  font-weight: 700;
  margin: 0.3em 0 1em 0;
}

.stop-btn {
  background-color: #0b0f22;
  color: #fff;
  border: none;
  border-radius: 5em;
  font-family: inherit;
  font-size: inherit;
  padding: 0.7em;
  display: block;
  margin: auto;
  cursor: pointer;
}

table {
  margin-top: 2em;
  border-collapse: collapse;
}

th {
  color: #63698b;
}

td,
th {
  padding: 0.3em 0.7em;
  text-align: center;
}

tbody > tr:nth-child(odd) {
  background-color: #e2e6fa;
}
