@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #c7cacc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

#plans-container {
  display: flex;
  align-items: center;
}

#total-storage {
  background-color: #ebebeb;
  padding: 1.5em;
  border-radius: 0.7em;
  position: relative;
}

#total-storage::after {
  content: "";
  position: absolute;
  background-color: #cfd1d3;
  border: 1px solid #fff;
  border-radius: 0.7em;
  height: 19em;
  width: 19em;
  bottom: 0;
  z-index: -1;
}

#storage-title {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#arrow-icon {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

#storage-stats {
  display: flex;
  align-items: center;
}

#outer-circle {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  border: 0.063em solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-circle {
  height: 11em;
  width: 11em;
  position: absolute;
  border-radius: 50%;
  background-image: repeating-conic-gradient(
    #424fc0 0deg 35deg,
    #a0cce2 35deg 360deg
  );
}

#storage-details {
  padding-left: 1em;
  font-weight: 600;
}

#full {
  margin-bottom: 1em;
}

#used {
  margin-bottom: 1em;
  color: #424fc0;
}

.size-info {
  font-size: 0.875em;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.7em 1em;
}

#plans {
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  position: relative;
}

#plans::after {
  content: "Plans";
  position: absolute;
  background-color: #cfd1d3;
  border: 1px solid #fff;
  border-radius: 0.8em;
  height: 23em;
  width: 14em;
  left: 1em;
  bottom: 1em;
  top: -3em;
  z-index: -1;
  padding: 1em;
  font-weight: 700;
}

.plan {
  border-radius: 0.8em;
  margin-bottom: 0.7em;
  padding: 1.5em;
  position: relative;
  overflow: hidden;
}

.plan-size {
  z-index: 10;
}

.title-line {
  height: 0.3em;
  width: 1.2em;
  background-color: #3cc7f4;
  border-radius: 25%;
  margin-bottom: 0.2em;
}

.size-num {
  font-weight: 700;
}

.small {
  background-color: #000;
  color: #fff;
}

.small > p {
  font-weight: 600;
  margin-top: 0.5em;
}

.curve {
  position: absolute;
  border: 0.125em solid #967451;
  border-radius: 25% 0;
  transform: rotate(45deg);
  z-index: 0;
}

.curve-one {
  height: 5em;
  width: 5em;
  top: 6em;
}

.curve-two {
  height: 8em;
  width: 8em;
  top: 5em;
}

.curve-three {
  height: 11em;
  width: 11em;
  top: 4em;
}

.right-curve-one {
  left: 14em;
}

.right-curve-two {
  left: 12.5em;
}

.right-curve-three {
  left: 11em;
}

.left-curve-one {
  right: 14em;
  border: 0.125em solid #fff;
}

.left-curve-two {
  right: 12.5em;
  border: 0.125em solid #fff;
}

.left-curve-three {
  right: 11em;
  border: 0.125em solid #fff;
}

.medium,
.large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.plan-price {
  text-align: right;
  margin-left: 1em;
}

.plan-price > p {
  font-size: 0.8em;
  margin-top: 0.5em;
  color: #424fc0;
  font-weight: 600;
}
