@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #c7cacc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

#total-storage {
  background-color: #ebebeb;
  padding: 1.5em;
  border-radius: 0.7em;
}

#storage-title {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#arrow-icon {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

#storage-stats {
  display: flex;
  align-items: center;
}

#outer-circle {
  height: 12em;
  width: 12em;
  border-radius: 50%;
  border: 0.063em solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-circle {
  height: 11em;
  width: 11em;
  position: absolute;
  border-radius: 50%;
  background-image: repeating-conic-gradient(
    #424fc0 0deg 35deg,
    #a0cce2 35deg 360deg
  );
}

#storage-details {
  padding-left: 1em;
  font-weight: 600;
}

#full {
  margin-bottom: 1em;
}

#used {
  margin-bottom: 1em;
  color: #424fc0;
}

.size-info {
  font-size: 0.875em;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.7em 1em;
}
