@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #0a0b0d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.cards {
  width: 500px;
  height: 134px;
  display: flex;
  align-items: center;
  position: relative;
}

.card {
  width: 120px;
  height: 120px;
  border: 1px solid #fff;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.card:nth-child(1) {
  animation: slide-across 20s -0.2s linear infinite;
}

.card:nth-child(2) {
  animation: slide-across 20s -5.2s linear infinite;
}

.card:nth-child(3) {
  animation: slide-across 20s -10.2s linear infinite;
}

.card:nth-child(4) {
  animation: slide-across 20s -15.2s linear infinite;
}

@keyframes slide-across {
  0% {
    left: 0px;
  }
  100% {
    left: 500px;
  }
}

.overlay {
  position: absolute;
  height: 134px;
  width: 200px;
  background-color: #0a0b0d;
}

.left-overlay {
  left: -50px;
}

.right-overlay {
  right: -150px;
}
