@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background-color: #f3f3f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

#insights-page {
  background-color: #fff;
  padding: 2em;
}

#upper-container {
  width: 40em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#short-profile {
  display: flex;
  align-items: center;
}

#profile-picture {
  width: 20%;
  border-radius: 50%;
}

#names {
  margin-left: 0.5em;
}

#names > p:first-child {
  font-weight: 600;
  font-size: 1.3em;
}

#names > p:last-child {
  font-size: 0.9em;
  margin-top: 0.2em;
}

button {
  display: block;
  background-color: #2f3030;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  height: 3.5em;
  width: 22em;
}

#lower-container {
  border-top: 0.063em solid #939794;
  padding-top: 1em;
}

ul {
  list-style-type: none;
  font-size: 0.9em;
  display: flex;
}

li:first-child {
  font-weight: 700;
}

li {
  margin-right: 1em;
}

#insights {
  margin-top: 2em;
}

#insights > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#insights h2 {
  font-size: 1em;
}

#date-container {
  display: flex;
  align-items: center;
}

#down-arrow {
  padding-top: 0.313em;
}
